<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%-5level : %msg%n</pattern>&ndash;&gt;-->
            <Pattern>%-5level [%thread %logger{36}] : %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="info"><appender-ref ref="STDOUT"/></root>
    <logger name="report" level="info"/>
    <logger name="tga.folder_sync" level="trace"/>

</configuration>
