<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>false</outputPatternAsHeader>
            <pattern>> %highlight(%-5level) %boldYellow(:) %gray(%35.35X{akkaSource}:%2.2X{sourceThread}) %boldYellow(:) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="info"><appender-ref ref="ASYNC"/></root>
    <logger name="tga" level="info"/>
    <logger name="tga.folder_sync.sync.SyncMasterActor" level="debug"/>

</configuration>
